html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.title {
  font-size: 3rem;
  color: lightskyblue;
}

#root {
  border-radius: 1rem;
  padding: 1rem;
}

a {
  color: grey;
}

@keyframes shake {
  0% {
    transform: translate(-1px, -1px);
  }
  5% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -1px);
  }
  15% {
    transform: translate(1px, 1px);
  }
  20% {
    transform: translate(0px, 0px);
  }
}