.ButtonHigh {
  cursor: pointer;
  color: #d5d5d7;
  background-color: inherit;
  line-height: 1.5rem;
  padding: 0 16px;
  word-break: keep-all;
  border: none;
  border-bottom: 1px solid #ababab;
  user-select: none;
}

.ButtonHigh:hover {
  color: #61dafb;
}

.ButtonHigh:focus {
  outline: none;
}

.ButtonHigh:disabled {
  cursor: not-allowed;
}

.ButtonHigh-Active {
  color: #61dafb;
  border: none;
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #ababab;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.App {
  height: 100vh;
  display: flex;
  background-color: inherit;
}

.Main {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.Aside {
  flex-grow: 1;
  position: relative;
  background-color: inherit;
}

.Aside > iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
}

.Aside-Btn {
  float: left;
  width: 1px;
  height: 100%;
  background: #e0e0e0;
}

.Aside-Size {
  position: absolute;
  display: none;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 30vh;
  color: #80808085;
  user-select: none;
}

.Aside-Btn::after {
  content: "";
  cursor: ew-resize;
  display: block;
  height: 100%;
  width: 8px;
  position: fixed;
  margin-left: -3px;
  z-index: 10;
}

.Aside-Run {
  border-bottom: 1px solid #ececec;
  height: 1.5rem;
  height: calc(1.5rem + 1px);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: inherit;
}

.Aside iframe {
  background: white;
  border-left: 1px solid #80808085;
  height: 95%;
  height: calc(100% - 3rem + 1px);
}

.ToolBar {
  display: flex;
}

.Editor {
  flex-grow: 1;
}

.DiffEditor {
  flex-grow: 1;
  display: none;
}

.Aside-Console {
  width: 100%;
  width: calc(100% - 1px);
  height: 15rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 1px solid #a9a9a9;
  transition: transform 0.2s ease-in-out;
  background: white;
}

.Console-Bar {
  height: 1.5rem;
  border-bottom: 1px solid #a9a9a9;
  background: #f1f1f1;
  padding: 0 0.5rem;
  color: dimgrey;
  display: flex;
}

.Console-Bar-Btn {
  cursor: pointer;
  margin-left: 0.5rem;
}

.Console-Output {
  height: 13.5rem;
  overflow: auto;
  padding: 0 0.5rem;
}

#root {
  background-color: inherit;
}
